

.card_inf_product {
    width: 100% !important;
    margin: 10px;
}

.inf_product_div {
    display: flex;

}
 .title_p {
    min-width: 100px;
    margin: 4px 0;
}   

.content_p {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 80%; /* Đặt chiều rộng cho phần tử */
    margin: 4px 0;

  }

