/* Signup.css */

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f8f9fa;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.tab.active {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.signup-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit-button {
    background-color: #000;
    border-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px 0;
}

/* Login.css */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f8f9fa;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.tab.active {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit-button {
    background-color: #000;
    border-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px 0;
}

.forgot-password-link {
    color: red;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}